/*全局样式表*/
html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

/* 卡片周围阴影 */
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}

.el-upload{
    margin-top: 15px; 
}

.table-expand {
    font-size: 12px;
}
.table-expand label {
    width: 90px;
    color: #99a9bf;
}
.table-expand .el-form-item {
    margin-left: 25px;
    margin-right: 0;
    margin-bottom: 0;
    width: 90%;
    font-size: 12px;
}